{template "content","header"}
<div class="show centerBox">
    <div class="kpzuo left">
        <h2>{$CATEGORYS[$parentid]['catname']}<img src="images/xj_06.png"></h2>
        <ul class="yiji">
 {pc:content action="category" catid="$parentid" num="" siteid="$siteid" order="listorder ASC"}
{loop $data $r}
            <li class="yi{if $catid==$r[catid]} on{/if}">
                {if $r[child]}<a href="javascript:;">{else}<a href="{$r[url]}">{/if}
                {$r[catname]}</a>
                <ul class="erji">
 {pc:content action="category" catid="$r[catid]" num="" siteid="$siteid" order="listorder ASC"}
{loop $data $c}
                    <li><a href="{$c[url]}">{$c[catname]}</a></li>
{/loop}
{/pc}             
                </ul>
            </li>
{/loop}
{/pc}
        </ul>
            <img src="{$CATEGORYS[42]['image']}" class="ma">
    </div>
    <div class="kpyou">
        <div class="lop">当前位置：<span><a href="{APP_PATH}">{$CATEGORYS[1]['catname']}</a></span> - <span>{$CATEGORYS[$parentid]['catname']}</span> - {$CATEGORYS[$catid]['catname']}</div>
        <h2 class="title">{$title}</h2>
        <div class="page">
            {$content}
        </div>
    </div>
</div>
{template "content","footer"}
<script>
$(function(){
   $('.kpzuo h2').click(function(){
   $('.kpzuo .yiji').slideToggle();                     
})
 })
$(".yiji .yi").click(function() {
    var $this = $(this);
    if($this.hasClass("bg")){
        $this.removeClass("bg").find('.erji').slideToggle();
    }else{
        $this.addClass("bg").find('.erji').slideToggle();
        $this.siblings().removeClass("bg").find('.erji').slideUp();
    }
})
    </script>